<div class="sidebar">
  <% if signed_in? %>
    <!--  LOGO -->
    <div class="navi-logo justify-content-start">
      <%= link_to root_path, class: 'logo-container' do %>
        <%= image_tag "logo.png", alt: "logo", class: 'sidebar-logo' %>
      <% end %>
    </div>
    <!--  LOGO TEXT -->
  <div class="logo-title justify-content-start mt-3">
    <h2>Split<span class="pipes">|</span>it</h2>
  </div>

    <!--     Links to sign-out -->
    <div class="navbar-right">
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <div class='button button-round add-group sign-out'>
          <i class="fas fa-sign-out-alt"></i>
        </div>
      <% end %>
    <% else %>
      <!--  LOGO -->
      <div class="navi-logo">
        <%= link_to root_path, class: 'logo-container' do %>
          <%= image_tag "logo.png", alt: "logo", class: 'sidebar-logo' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
