  <% if signed_in? %>
    <div class="topnav-wrapper">
    <div class="topnav-logo signed-in">
      <%= link_to root_path, class: 'logo-container' do %>
        <%= image_tag "logo.png", alt: "logo", class: 'sidebar-logo' %>
      <% end %>
    </div>
    <div class="logo-title">
      <h2>Split<span class="pipes">|</span>it</h2>
    </div>
    <div class="topnav-right">
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <div class='button button-round add-group sign-out' id='topnav-sign-out'>
          <i class="fas fa-sign-out-alt"></i>
        </div>
      <% end %>
</div>
    <% else %>
      <div class="topnav-wrapper signed-out">
      <div class="topnav-logo signed-out">
        <%= link_to root_path, class: 'logo-container' do %>
          <%= image_tag "logo.png", alt: "logo", class: 'sidebar-logo' %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>


