<!-- RENDERS THE ADD BILL FORM -->
<div class="row bill-form" id="<%= split.id %>">
  <div class="col-12 col-md-6">
    <div class="new-bill-form">
      <%= simple_form_for [ split, @bill ] do |f|%>
        <%= f.input :title, input_html: {class: 'bill_title'}, placeholder: 'Store Name' %>
        <%= f.input :price, input_html: {class: 'bill_price'}, placeholder: 'Price' %>
        <div class="price-suggestions-text"></div>
        <div class="d-flex price-suggestions"></div>
        <%= f.input :paid_date, html5: true %>
        <div class="d-flex justify-content-between align-items-center">
          <%= f.button :submit, 'Add Bill', class: "button form-button"  %>
          <div class="cancel-button-bill-form button"> Cancel </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
