<!-- RENDERS THE ADD BILL FORM -->
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="form-container">
      <h1>New Bill</h1>
      <%= simple_form_for [ @split, @bill ] do |f|%>
          <%= f.input :title, placeholder: 'FamilyMart', autofocus: true; %>
          <%= f.input :price, placeholder: '20' %>
          <%= f.input :paid_date, html5: true %>
          <div class="d-flex justify-content-between align-items-center">
            <%= f.button :submit, 'Add Bill', class: "button form-button"  %>
            <%= link_to 'Cancel', root_path %>
          </div>
      <% end %>
    </div>
  </div>
</div>
