<div class="border-bottom pb-3">
  <div class="pot-container d-flex flex-column justify-content-center align-items-center">
    <h4>Split Total</h4>
    <i class="fas fa-coins mb-2 big-coin"></i>
    <h4> $<%= get_split_total(split) %></h4>
    <div class="d-flex mt-4">
      <h5 class="mr-2">Your balance is</h5>
      <h5 id="<%= balance_positive?(split, current_user) ? 'positive-balance' : 'negative-balance' %>">$<%= @balance.abs %> </h5>
    </div>
  </div>
</div>
<% unless split.active? %>
  <div class="total-details-container p-3">
    <div class="text-center mb-3">
      <%= image_tag ('banker.png'), size: '40x40',  alt: "banker image" %>
      <h5>The banker is</h5>
      <h4> <%= @banker.name %> </h4>
    </div>
    <div class='pl-5'>
      <% split.users.each do |user| %>
        <% unless user == @banker %>
          <% if balance_positive?(split, user) %>
            <h5><%= user.name %> collects $<%= get_balance(split, user)%> </h5>
          <% else %>
            <h5><%= user.name %> pays $<%= get_balance(split, user).abs%> </h5>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
