<div class="border-bottom pb-3">
  <div class="pot-container d-flex flex-column justify-content-center align-items-center">
    <h4>The Split</h4>
    <i class="fas fa-coins mb-2 big-coin"></i>
    <h4> $<%= get_split_total(split) %></h4>

    <% if balance_positive?(split) %>
      <h5 class="mt-4"><i class="fas fa-coins small-coin"></i> owes you $<%= @balance %> </h5>
    <% else %>
      <h5 class="mt-4">You owe <i class="fas fa-coins"></i> $<%= @balance.abs %> </h5>
    <% end %>
  </div>
</div>
<div class="total-details-container p-3">
  <div class="border-bottom">
    <h5>You: $<%= user_payed(split, current_user) %> </h5>
    <% non_current_user(split).each do |user| %>
      <h5><%= user.name %>: $<%= user_payed(split, user) %> </h5>
    <% end %>
  </div>
  <h4 class="mt-2">Total: $<%= get_split_total(split) %> </h4>
</div>
