<div class="bill-card-container">
  <div class="bill-card" id="bill<%= bill.id %>">
    <div class="bill-card-title main">
      <h5> <%= bill.title %> </h5>
      <% if bill.user == current_user %>
        <h5 class="current-user-payment"> $ <%= bill.price %> </h5>
      <% else %>
        <h5 class="other-user-payment"> $ <%= bill.price %> </h5>
      <% end %>


    </div>
    <div class="bill-card-title">
      <p> <i class="fas fa-user"></i> <%= bill.user.name %> </p>
      <p> <i class="far fa-calendar-check"></i> <%= bill.paid_date %> </p>
    </div>

  </div>
  <div id="bill<%= bill.id %>" class="edit-bill">
    <%= render 'bills/edit-bill-form', bill: bill %>
  </div>
</div>


