
<div class="main-container">
  <div class="split-show-title d-flex justify-content-between align-items-center border-bottom">
    <p> <i class="fas fa-users"></i> <%= @split.payment_group.users.count %> </p>
    <h1> <%= @split.name %> </h1>
    <p> <i class="fas fa-file-invoice-dollar"></i> <%= @split.bills.count %> </p>
  </div>
  <div class="split-show-subtitle">
    <h3 style="width: 100.39px;"  class="split-show-button" id='bills-button'>Bills</h3>
    <h3 class="split-show-button" id='balance-button'>Balance</h3>
  </div>
  <div id="balance-tab">
   <%= render 'splits/balance', split: @split %>
  </div>
  <div id="bills-tab">
    <%= render 'splits/tabs', bills: @bills %>
  </div>

  <div class="w-100 d-flex align-items-center justify-content-around">
    <%= link_to payment_group_path(@split.payment_group), class: 'back-button' do %>
      <i class='fas fa-arrow-circle-left'></i>
    <% end %>
    <%= simple_form_for @split do |f| %>
      <% if @split.active%>
        <%= f.input :active, as: :hidden, input_html: { value: false }, wrapper_html:{class: 'm-0'}%>
        <%= f.button :submit, 'Archive', class: "button archive-button" do %>
          <i class="fas fa-archive"></i>
          <% end %>
      <% else %>
        <%= f.input :active, as: :hidden, input_html: { value: true }, wrapper_html:{class: 'm-0'}%>
        <%= f.button :submit, 'Unarchive', class: "button archive-button" do %>
          <i class="fas fa-archive"></i>
          <% end -%>
      <% end %>
    <% end %>
  </div>
</div>


