<!-- Body of the card (flex column) -->
<div class="<%= split.active? ? 'split-card-home payment_group' : 'split-card-home payment_group archived' %>">
  <div class="split-card-title">
    <h3> <%= split.name %> </h3>
    <p> <i class="fas fa-equals"></i> $<%= get_split_total(split)%> </p>
  </div>
  <!--  CALCULATE THE TOTAL -->
  <div class="d-flex align-items-center flex-nowrap">
    <% if  balance_positive?(split) %>
      <h5 class="positive-balance" > $<%= @balance %> </h5>
    <% elsif @balance == 0 %>
      <h5 class="neutral-balance">$<%= @balance %> </h5>
    <% else %>
      <h5 class="negative-balance">$<%= @balance %> </h5>
    <% end %>
  </div>
  <!--     LINKS TO THE IMG SCAN -->
  <%= link_to new_split_bill_path(split), class: 'split-card-button' do %>
    <i class="fas fa-money-bill-wave"></i>
  <% end %>
  <%= link_to '', split_path(split), class: "split-link"  %>
</div>
